.wrapper{ 
    /* width: 100vw; */
    
height: 100vh;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;

background-color: aliceblue;
}
.brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;

  width: 90%;
  overflow: hidden
}
.brand img{
  width: 100px;
}

.containerl {
  width: 100%;
  padding: 30px;
  max-width: 600px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  height: 70%;
  /* min-height: 300px; */
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #c9c5c5; */
  background-color: #ebebed;
  position: relative;
  /* border: 0.5px solid black; */
  border-radius: 7px;

 
 
 
}

.buttons button {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    /* opacity: 40%; */
cursor: pointer;
    padding: 7px;
    width: 50%;
    height: 100%;
    z-index: 9;
    transition: 0.5s;
    border-radius: 7px;
    transition: 0.5s;
  }

.active {
    background-color: transparent;
    opacity: 100%;
    color: white;
    transition: 0.5s;
  }
  
.span {
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #1b70fa;
    transition: 0.5s;

    border-radius: 7px;
  }
  .sing {
    transform: translateX(100%);
    transition: 0.5s;
    background-color: #5d39e3;
  }

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

 
}
.form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ebebed;

    /* border: 1px solid #1b70fa ;/ */
  }

.inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

 
    }

    .logininputs {
        min-width: 100%;
        height: 100%;
        transform: translateX(50%);
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;}

    
        .logininputs div {
          width: 90%;
          max-width: 300px;
    
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;}
    
          .logininputs div  span {
            position: absolute;
            left: 0;
            padding: 10px;
            pointer-events: none;
            transition: 0.5s;
            color: #949292;
          }
    
          .logininputs div input:focus,
          .logininputs div input:valid
           {
            
              border: 1px solid #1b70fa;
            }
    
            .logininputs div input:focus ~ span,
            .logininputs div input:valid ~ span {
              transform: translateY(-25px);
              left: 10px;
              padding: 1px 10px;
              font-size: 13px;
              transition: 0.5s;
              border-radius: 5px;
              background-color: #ebebed;
              color: #1b70fa;
            }
          
  
  .singupinputs {
    min-width: 100%;
    height: 100%;
    transform: translateX(-50%);
    transition: 0.5s;
    /* display: none; */}
    .form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;}

     .form div {
        width: 90%;
        max-width: 300px;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;}

        .form div span {
          position: absolute;
          left: 0;
          padding: 10px;
          pointer-events: none;
          transition: 0.5s;
          color: #949292;
        }

        .form div   input:focus,
        .form div input:valid {
          
            border: 1px solid #1b70fa;
          }

          .form div input:focus ~ span,
          .form div input:valid ~ span {
            transform: translateY(-25px);
            left: 10px;
            padding: 1px 10px;
            font-size: 13px;
            transition: 0.5s;
            border-radius: 5px;
            background-color: #ebebed;
            color: #1b70fa;
          }
        
      
    
  
  .translate {
    transform: translateX(-100%);
    transition: 0.5s;
    /* display: none; */
  }
  .translatesingup {
    /* display: flex; */
    transform: translateX(100%);
    transition: 0.5s;
  }

